html {
  height: 100%;
}

body {
  background: rgb(0,4,51);
  background: linear-gradient(0deg, rgb(24, 30, 107) 0%, rgb(72, 189, 209) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

button, input, select {
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  border-radius: 3px;
  margin: 3px;
}

button:hover, input:hover {
  outline: 2px solid white;
  cursor: pointer;
}

input::placeholder {
  color: black;
  opacity: 0.7;
}

.SkinManager {
  display: flex;
}

.SkinAdders {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

label {
  margin: 10px 5px 0 10px;
}

img {
  width: 48px;
  height: 48px;
  image-rendering: pixelated;
  background-image: url("assets/checkerboard.png");
  background-size: 12px;
  border-radius: 3px;
}

span {
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: none;
  border-radius: 10px;
  margin: 5px;
  height: fit-content;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  padding: 5px;
}

.container p, .container label {
  margin: 3px 0;
  overflow: hidden;
}

.container span {
  width: 100%;
}

.paperdoll {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.paperdoll-canvas {
  height: 500px;
  width: 400px;
  border-radius: 6px;
  background: url("assets/background.png");
}

.paperdoll span {
  width: 400px;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.layereditor-canvas {
  height: 512px;
  width: 512px;
  border-radius: 6px;
  background-image: url("assets/checkerboard.png");
  background-size: 16px;
  image-rendering: pixelated;
}

.layer-manager {
  flex-direction: column-reverse;
  justify-content: flex-end;
  width: 325px;
  height: 90vh;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.3);
}

.manager-layer {
  flex-direction: column;
  padding: 3px;
  padding-top: 0;
  margin: 5px;
  margin-top: 0;
}

.manager-layer-buttons {
  display: flex;
  flex-direction: column;
}

.manager-layer-buttons button, .manager-layer-colors input {
  width: 20px;
  height: 20px;
  margin: 2px;
}

.manager-layer-colors {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.manager-layer > span {
  height: 50px;
}

span.layerTitle {
  height: auto;
}

span.layerTitle input {
  margin-right: 6px;
}

.layer-adder {
  height: 95vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.layer-adder-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 325px;
}

.settingsList span {
  justify-content: space-between;
}

.asset-layer-manager {
  flex-direction: column-reverse;
  background: rgba(0, 0, 0, 0.3);
}

h3 {
  width: 100%;
  text-align: center;
}

.color-picker-parent {
  display: flex;
  flex-direction: column;
  width: min-content;
  align-items: center;
}

.color-label {
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 5px;
  outline: 2px inset rgba(255, 255, 255, 0.75);
}

.color-picker {
  position: relative;
  display: none;
  height: 0;
  width: 0;
}

.color-picker > div {
  align-items: center;
  position: absolute;
  z-index: 1000;
  top: 10px;
  left: -100px;
  width: 200px;
  padding: 10px 0 10px;
}

.color-picker > div::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 90px;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: black transparent;
  display: block;
  width: 0;
}

.color-picker > div > input {
  width: 80%;
  height: 12px;
  margin: 10px 0 10px;
  appearance: none;
  outline: none;
}

.color-picker > div > input::-webkit-slider-thumb, .color-picker > div > input::-moz-range-thumb {
  appearance: none;
  width: 8px;
  height: 12px;
  border: 4px solid white;
  border-radius: 8px;
  box-shadow: 0 0 2px black;
  background: none;
  cursor: pointer;
}