body {
  background-color: #2e5266;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

button, input, select {
  font-weight: bolder;
  background-color: #6e8898;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 3px;
}

button:hover, input:hover {
  outline: 2px solid #d3d0cb;
  cursor: pointer;
}

input::placeholder {
  color: black;
  opacity: 0.7;
}

.SkinManager {
  display: flex;
}

.SkinAdders {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

label {
  margin: 10px 5px 0 10px;
}

img {
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  background-image: url("assets/checkerboard.png");
  background-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #9fb1bc;
  border: 5px solid #6e8898;
  border-radius: 10px;
  margin: 5px;
  height: fit-content;
}

.container p, .container label {
  margin: 3px 0;
  overflow: hidden;
}

.container span {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container span input {
  margin-right: 10px;
}

.container span button {
  height: 100%;
}

.paperdoll {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.paperdoll-canvas {
  height: 500px;
  width: 400px;
  background: url("assets/background.png");
}

.paperdoll span {
  width: 400px;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.layer-manager {
  display: flex;
  flex-direction: column-reverse;
  min-width: min-content;
  height: 95vh;
  overflow-y: auto;
}

.manager-layer {
  flex-direction: column;
  padding: 5px;
  padding-top: 0;
}

.manager-layer-buttons {
  display: flex;
  flex-direction: column;
}

.manager-layer-buttons button {
  width: 18px;
  height: 18px;
  margin: 2px;
}

.manager-layer-colors {
  display: flex;
  flex-wrap: wrap;
}

.layer-adder {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 95vh;
}

.settingsList span {
  justify-content: space-between;
}